body{
    font-family:'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;   
}

  h1{
    text-align: center;
    font-size: 3.7em;
    color: #138b73;
  }
  /* header styles */
  .logo{
    justify-content:flex-start
}

.header{
    position: relative;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content:space-around;
    background: #53c4ba;
}


.header .logo{
    font-size: 1.5rem;
    color:rgb(6, 75, 155);    
    text-align: left;
    margin-right:5.5rem;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header .logo img{
    margin:4%;
    width:35%;
    margin-left:-40%;
    height:35%;
    border-radius: 50%;
}
.header .logo i{
    color: var(--green);    
}

/* .header .navbar a{
    font-size: 1.5rem;
    color: rgb(2, 67, 141);
    margin-left: 2.5rem;
    text-decoration: none;
    transition: transform 0.3s; 
    
}
.header .navbar ul{
    list-style: none;
    display: flex;
    margin-left: auto;
    
}

.header .navbar a:hover{       
    color: #ffffff;
    transform: scale(1.1); 
  
}
.header .scroll a:hover .menu{
    display: block;
    position:absolute;
    background: #eee;
    margin-top: 15px;
    margin-left: -15px;
    
} */
.header .navbar ul {
    list-style: none;
    margin-left: auto;
    display: flex;
    padding: 0;
}

.header .navbar li {
    margin-left: auto;
    position: relative;
}
.header li:hover a {
  font-size: 22px; /* Increase font size on hover */
}
.header .navbar a {
    font-size: 2.1em;
    margin-left: 1.5em;
    text-decoration: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease, transform 0.3s ease;
}

.header .navbar li:hover a {
    color: rgb(2, 67, 141); /* Change the color to your desired hover color */
    transform: scale(1.1); /* Adjust the scaling factor as needed */
}

.header .navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff; /* Set the color of the underline */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.header .navbar li:hover a::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* header style completion */
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 27%;
    width:90vh;
    height: 45vh;
    border:2px solid #53c4ba;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(1, 8, 48, 0.2), 0 6px 20px 0 rgba(1, 8, 48, 0.2);
}
.container .heading-text h2 {
    font-size: 3.2em;
    color: rgb(10 76 153);
    position:relative;
}

.styled-button {
    padding: 10px 30px;
    font-size: 1.5em;
    font-style: bold;
    background-color: #ffffff;
    color: rgb(6, 90, 187);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex; /* Ensure it's a block-level element */
    margin: 0% auto 5%; 

}
.styled-button:hover {
    background-color: rgb(6, 90, 187);
    color:#ffffff;
}
.heading-text .btntype{
    font-size: 1.3em;
    margin: -7% auto 10%;
    margin-right: 10%;
    }
.container a{
    text-decoration: none;
    font-size: 2em;
    color: #3372ad;
    display: flex; /* Ensure it's a block-level element */
    margin: 0% auto 0% 13%; 
}
.container a:hover{
    text-decoration: underline;
    color:#3372ad;
}
      /* test1 styles */
.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.form-container {
    background-color: #e2f8f8;
    width:100vh;
    height:0vh;
    border-radius: 5px;
    text-align: center;
    flex: 1;

}
.form-container .sec-container{
    border: 2px solid #53c4ba; 
    position: relative;
    border-radius: 5px; 
    width:80vh;
    height:80vh;
    margin-top: 10%;
    box-shadow: 0 4px 8px 0 rgba(1, 8, 48, 0.2), 0 6px 20px 0 rgba(1, 8, 48, 0.2);
}

.form-container-wrapper {
    display: flex;
}
.sec-container p{
    font-size: 2.6em;
    color: rgb(4, 47, 128);
    
}
.sec-container .small{
    font-size:1.8em;
    color: rgb(49, 83, 151);
    margin-top:-2%;
}
.sec-container .small1{
    font-size:1.8em;
    white-space: pre-line;
    color: rgb(49, 83, 151);
    margin-top:-2%;
}
.sec-container .img{
    width:50vh;
    height:50vh;
}
.radio-group {
    display: flex;
    margin-top: 10px;
}
.radio-group label {
    margin: 0 auto;
    font-size: 1.8em;
    color:rgb(89, 112, 158);
}
input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 10px 3px;
    padding:initial;
    border:initial;
}
/* .slide{
  display: block;
  align-items: center;
  justify-content: center;
  height: 4vh;
  background-color: rgb(59, 85, 134);
  color:#fff;
  font-size: 1.4em;
  margin-left:23%;
  border: 1px solid #000;
  position: relative; 
  border-radius: 4px;
}
.slide:after{
  content:"Take the Test";
  position:relative;
  width:100%;
  height:100%;
 left:0;
  text-align:center;
 transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

.slide:before {
  content:"Start →";
  height:100%;
  width:100%;
  position:relative;
  color:#383736;
  left:-100%;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

.slide:hover{
  background:#fff;
  color:#000;
}

.slide:hover:before{
  left:0;
  opacity:1;
  color:#000;
}
.slide:hover:after{
  left:100%;
  opacity:0;
} */
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width:40%;
  height: 5vh;
  background-color: #16a085;
  color: #fff;
  font-size: 1.5em;
  margin-left: 23%;
  margin-top: -5%;
  border: 1px solid #6bcdda;
  border-radius: 20px;
  position: relative; /* Add this line */
}

.slide:after {
  margin-top: 15%;
  content:"Take the Test";
  position:relative;
  font-size: 1.3em;
  font-family:'Times New Roman', Times, serif;
  width:100%;
  height:100%;
 left:0;
  text-align:center;
 transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

.slide:before {
  margin-top: 15%;
  content: "Start →";
  height: 100%;
  width: 100%;
  font-size: 1.3em;
  font-family:'Times New Roman', Times, serif;
  position: absolute;
  text-align:center;
  left: -100%;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.slide:hover {
  background: #caf3eb;
  color: #000;
}

.slide:hover:before {
  left: 0;
  opacity: 1;
  color: rgb(13, 57, 138);
}

.slide:hover:after {
  left: 100%;
  opacity: 0;
}

.close-button {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: #ccc;
    color: #1b1b1b;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 8px 22px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}
.close-button:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
}
:focus-visible{
    outline-offset: 1px;
} 
ul {
    /* text-align: center; */
    width: auto;
    margin: 0 auto 0 -10% ;
    list-style: none;
    display: inline-block;
    display: block;
    
}

.custom-btn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #16a085;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
.btn-4 {
    position: relative;
    color: #000;
    z-index: 2;
    line-height: 40px;
    padding: 0;
  }
  .btn-4:hover{
    border: none;
  }
  .btn-4:before,
  .btn-4:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    border: 2px solid;
    z-index: -1;
    transition: all 0.3s ease;
  }
  .btn-4:before {
    top: 0;
     left: 0;
     border-bottom-color: transparent;
     border-right-color: transparent;
     border-top-color: #16a085;
     border-left-color: #16a085;
  }
  .btn-4:after{
     bottom: 0;
     right: 0;
     border-top-color: transparent;
     border-left-color: transparent;
     border-bottom-color: #16a085;
     border-right-color: #16a085;
  }
  .btn-4:hover:before,
  .btn-4:hover:after {
    border-color: #16a085;
    height: 100%;
    width: 100%;
  }
  .btn-5 {
    margin-left: 3%;
    position: relative;
    color: #000;
    z-index: 2;
    line-height: 40px;
    padding: 0;
  }
  .btn-5:hover{
    border: none;
  }
  .btn-5:before,
  .btn-5:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    border: 2px solid;
    z-index: -1;
    transition: all 0.3s ease;
  }
  .btn-5:before {
    top: 0;
     left: 0;
     border-bottom-color: transparent;
     border-right-color: transparent;
     border-top-color: #16a085;
     border-left-color: #16a085;
  }
  .btn-5:after{
     bottom: 0;
     right: 0;
     border-top-color: transparent;
     border-left-color: transparent;
     border-bottom-color: #16a085;
     border-right-color: #16a085;
  }
  .btn-5:hover:before,
  .btn-5:hover:after {
    border-color: #16a085;
    height: 100%;
    width: 100%;
  }

 .hover_link a {
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  .hover_link a::before,
  .hover_link a::after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  .hover_link a::before {
    background-color: #16a085;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .hover_link a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #16a085;
  }
  
  .hover_link a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .hover_link a:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
  .hover_link a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .hover_link a:hover span {
    transform: translate3d(-200%, 0, 0);
  }
  
  /* Presentational Styles */
  .hover_link body {
      display: grid;
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
      line-height: 1.5;
    height: 100vh;
      place-items: center;
  }
  
  .hover_link a {
      text-decoration: none;
      color: #18272F;
      font-weight: 700;
      vertical-align: top;
  }

  #button-7 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-7 a {
    position: relative;
    left: 0;
    transition: all .35s ease-Out;
  }
  
  #dub-arrow {
    width: 100%;
    height: 100%;
    background: #BFC0C0;
    left: -200px;
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-Out;
    bottom: 0;
  }
  
  #button-7 img {
    width: 20px;
    height: auto;
  }
  
  #button-7:hover #dub-arrow {
    left: 0;
  }
  
  #button-7:hover a {
    left: 150px;
  }
  /* about page */
  .about h1{
    text-align: center;
  }
  .about p{
    margin: 0 auto;
    width:70%;
    height: auto;
    font-size: 1.9em;
  }
  .about {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid rgb(49, 83, 151);
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* about page end */

/* HISTORY PAGE START */

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.history_box {
  width: 40%; 
  border: 2px solid rgb(49, 83, 151);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}
.history_content {
  padding: 20px;
}

.heading_heading {
  font-size: 1.2em;
  color: #333;
}
.heading_heading strong{
  color:rgb(56, 161, 175);
  font-size: 1.6em;
}
.heading_heading p{
  font-size: 1.4em;
}
/* .slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

.text {
  background-color: rgb(75, 100, 148);
  color: #0a0a0a;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.prev, .next {
  position: absolute;
  top: 50%;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  padding: 16px;
  border: none;
  border-radius: 5px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
} */
.mySlides {
  display: none;
  
}
.slideshow-container {
  background-color: rgb(73, 101, 158);
  height:100px;
  max-width: 500px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 5px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  position: absolute;
  top: 80%; 
  left: 47%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 50px) {
  .prev, .next,.text {font-size: 11px}
}

.line11a
{
  
	float:left;
	margin-right:2%;
	width:23%;
	height:auto;
}
.bggray {
    background-color: #f9f9f9;
}

.gaplrtb20 {
    padding: 20px;
}
.gapb10 {
    padding: 0 0 10px 0;
}
a.btnreadmore3 {
    color: #ffffff;
}
a:visited {
    color: #fff;
}
.btnreadmore3 {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid #444444;
    padding: 0 0 20px 0;
    font-size: 14px;
    font-family: 'Lato', Arial, Verdana, Geneva, sans-serif;
    text-decoration: none;
    margin: 0px;
    color: #444444;
    position: relative;
    display: block;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
a {
    color: #00e;
}
.line11a {
  margin-left: 3%;
  flex: 1;
  padding: 20px;
}

.gaplrtb20 {
  margin: 0;
}

.bggray {

  background-color: #79A7D3;
}

.btnreadmore3 {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: #79A7D3;
  color: #fff;
  border-radius: 5px;
}

.btnreadmore3:hover {
  background-color: #555;
}

.history_box {
  flex: 1;
  padding: 20px;
}

.history_content {
  color: #333;
}

.heading_heading {
  margin-bottom: 20px;
}

.heading_heading strong {
  color: #1f57a0;
  font-size: 2em;
}

.heading_heading p {
  margin-top: 10px;
}
.image-container {
  width: 100%; 
  overflow: hidden; 
}

.image-container img {
  width:100%;
  margin-left: -5%;
  flex: 1;
  padding: 20px;
}
/* HISTORY PAGE END */

/* DIABETES PAGE START  */

.diabetes {
  width: 40%; 
  border: 2px solid rgb(49, 83, 151);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}
.diabetes_content {
  padding: 20px;
}

.diabetes_heading {
  font-size: 1.2em;
  color: #333;
}
.diabetes_heading strong{
  color:rgb(56, 161, 175);
  font-size: 1.6em;
  /* margin-right: 75%; */
}
.diabetes_heading .h12{
  color:#1f57a0;
  font-size:2em;
}
.diabetes_heading p{
  font-size: 1.6em;
}

 li {
  list-style: none;
  margin-bottom: 10px;
}

/* DIABETES PAGE END  */

/* TREATMENT PAGE START  */
.treatment {
  width: 40%; 
  border: 2px solid rgb(49, 83, 151);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}
.treatment {
  padding: 20px;
}

.treatment_heading {
  font-size: 1.2em;
  color: #333;
}
.treatment_heading strong{
  color:rgb(56, 161, 175);
  font-size: 1.6em;
  /* margin-right: 75%; */
}
.treatment_heading .h22{
  color:#1f57a0;
  font-size:2em;
}
.treatment_heading p{
  font-size: 1.6em;
}

 li {
  list-style: none;
  margin-bottom: 10px;
}
/* TREATMENT PAGE END  */

/* RISK PAGE START */

.risk {
  width: 40%; 
  border: 2px solid rgb(49, 83, 151);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}
.risk {
  padding: 20px;
}

.risk_heading {
  font-size: 1.2em;
  color: #333;
}
.risk_heading strong{
  color:rgb(56, 161, 175);
  font-size: 1.6em;
  /* margin-right: 75%; */
}
.risk_heading .h22{
  color:#1f57a0;
  font-size:2em;
}
.risk_heading p{
  font-size: 1.6em;
}

 li {
  list-style: none;
  margin-bottom: 10px;
}
.h20 li{
  margin-left:7%;
  font-size: 1.5em;
  list-style-type: disc;  
}
/* RISK PAGE END  */