body{
    font-family:'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;   
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 40px;
    background-color: #000;
    align-items: center;
    position: sticky;
    top: 0%;
   

}
.menu div a{
    cursor: pointer;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
  h1{
    text-align: center;
    font-size: 3.7em;
    color: rgb(6, 75, 155);
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 27%;
    width:90vh;
    height: 45vh; 
    background-color: rgb(0, 163, 192);
}
.container .heading-text h2 {
    font-size: 2.8em;
    color: #ffffff;
    display: flex;
    position:relative;
}
.styled-button {
    padding: 10px 30px;
    font-size: 1.5em;
    font-style: bold;
    background-color: #ffffff;
    color: rgb(6, 90, 187);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex; /* Ensure it's a block-level element */
    margin: 0% auto 5%; 

}
.styled-button:hover {
    background-color: rgb(6, 90, 187);
    color:#ffffff;
}
.heading-text .btntype{
    font-size: 1.3em;
    margin: 0 auto;
    }
.container a{
    text-decoration: none;
    font-size: 1.7em;
    color: #ffffff;
    display: flex; /* Ensure it's a block-level element */
    margin: 0% auto 0% 18%; 
}
.container a:hover{
    text-decoration: underline;
    color:rgb(6, 75, 155);
}
      /* test1 styles */
.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.form-container {
    background-color: #e2f8f8;
    width:120vh;
    height:80vh;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}
.form-container .sec-container{
    border: 2px solid rgb(0, 163, 192); 
    border-radius: 5px; 
    width:120vh;
    height:80vh;
    margin: 10% auto;
}
.sec-container p{
    font-size: 2.6em;
    color: rgb(4, 47, 128);
    white-space:nowrap;
}
.sec-container .small{
    font-size:1.8em;
    color: rgb(49, 83, 151);
    margin-top:-2%;
}
.sec-container .small1{
    font-size:1.8em;
    white-space: pre-line;
    color: rgb(49, 83, 151);
    margin-top:-2%;
}
.sec-container .img{
    width:50vh;
    height:50vh;
}
.radio-group {
    display: flex;
    margin-top: 10px;
}
.radio-group label {
    margin: 0 auto;
    font-size: 1.8em;
    color:rgb(89, 112, 158);
}
input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 10px 3px;
    padding:initial;
    border:initial;
}
.close-button {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: rgb(0, 163, 192);
    color: #1b1b1b;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 8px 22px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}
.close-button:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
}
:focus-visible{
    outline-offset: 1px;
} 
ul {
    text-align: center;
    width: auto;
    margin: 0 auto 0 -10% ;
    list-style: none;
    display: inline-block;
    display: block;
    
}




